.BusPassPage{
	min-height: 80vh;
	display: grid;
	justify-content: center;
    margin: 40px;
    
   .buspassForm{
   	height: 760px;
    width: 500px;
    display: grid;
    justify-content: center;
    border: 1px solid gray;
    background-color: #cfcfcf;
    
   }   
	}