.aboutUs{
  min-height: 50vh;
	width: 1200px;
	justify-content: center;
	text-align: left;
	margin-top: 80px;

    h1{  
         margin-top: 100px;
         font-size: 36px;
         font-weight: 60px;
         border-bottom: 2px solid rgb(255, 141, 29);
         color: rgb(255, 141, 29);
         font-family: Fira Sans Semibold;
        }

        p{
          margin-top: 40px;
          font-size: 22px;
          font-family: Fira Sans Light;
          word-spacing: 5px;
        }

}
