.cardlist{
	display: grid;
	grid-template-columns: 325px 325px 325px;
    grid-gap: 120px;
    margin-top:180px ;

    .card{
        background-color: #cfcfcf;
    	height: 560px;
    	weight: 100px;
    	border: 1.8px solid black;
    	border-radius: 10px;
        
    	.title{
    		display: block;
             color: black;
             text-align: center;
             font-weight: 85px;
             font-size: 30px;
             position: relative;
              top: 10px;
            }
        .content{

        	margin-top: 40px;
        	padding: 10px;
        	font-size: 20px; 
        }    
    img{ position:relative;
    	 left: 65px;
         margin:10px;
         justify-content: justify; 
       }
    
    }

}