.BusPassPage{
	min-height: 75vh;
	display: grid;
  margin-top: 90px;
	justify-content: center;
	color: rgb(250,250,250);
//	margin-bottom: 45px;
//	margin: 25px auto;

	.stepsBox{
		height: 590px;
    width: 1000px;
    display: grid;
    justify-content: center;
    color: black;
    background-color: #cfcfcf;
    font-family: Fira Sans medium;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 12px;
	}


  .payment{
    min-height: 50vh;
    margin-top: 85px;
    font-family: fantasy;
    padding: 25px;
  }
	}
