.BusPassPage{
	min-height: 75vh;
	display: grid;
  margin-top: 70px;
	justify-content: center;
	background-color: #fafafa;
//	margin-bottom: 45px;
//	margin: 25px auto;

	.stepsBox{
		height: 590px;
    width: 1000px;
    display: grid;
    justify-content: center;
    color: black;
    background-color: #cfcfcf;
    font-family: Fira Sans medium;
    margin-top: 65px;
    margin-bottom: 35px;
    border-radius: 12px;
	}
}
