.signin{
  min-height: 100%;
  overflow: auto;
}

.App {
padding: 0px;
margin: 0px;
background-color:#FAFAFA;

.shape1{
  position: absolute;
  top: 120px;
  left: 0;
}

.shape2{
  position: absolute;
  top: 180px;
  right: 250px;
  height: 500px;
  width: 600px
}

.shape5{
opacity: 40%;
position:absolute;
right: 0px;
top: 850px;
}

}
